.wrapper{
    max-width: 70rem; /* largura do side bar(256px) + distância do side bar para o feed(32px) + largura do feed(832px) dividido por 16*/
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start;
}

@media (max-width: 768px){
    html{
        /* este valor veio de 16px, que é o tamanho padrão da fonte no html, multiplicado por 100, pois queremos em porcentagem, daí dividimos por 14, que é o valor que queremos no momento. */
        font-size: 87.5%;
    }

    .wrapper{
        grid-template-columns: 1fr;
    }
}